q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list 
    
    
before 29th may 2022 3 PM IST you have to send an answer to me or to shivan 
sudhanshu@ineuron.ai
shivan@ineuron.ai

# Q1:

In [3]:
n=4
for i in range(1,n+1):
    for j in range(i):
        print("ineuron",end=" ")
    print()

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

# Q2

In [4]:
s="ineuron"
n=6
for i in range(0,n-3):
    for a in range(i,n-4):
        print(" "*len(s),end=" ")
    for b in range(0,i+1):
        print(s," "*len(s),end=" ")
    print()
for i in range(0,n-4):
    for c in range(0,i+1):
        print(" "*len(s),end=" ")
    for d in range(n-4,i,-1):
        print(s," "*len(s),end=" ")
    print()

                ineuron
        ineuron         ineuron
ineuron         ineuron         ineuron
        ineuron         ineuron
                ineuron

In [1]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","data science"]]

In [139]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

# Q3 : Try to extract all the list entity

In [28]:
for i in tuple(l):
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

# Q4: Try to extract all the dict enteties

In [27]:
for i in tuple(l):
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

# Q5: Try to extract all the tuples entities

In [26]:
for i in tuple(l):
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

# Q6: Try to extract all the numerical data it may b a part of dict key and values

In [9]:
for i in tuple(l) :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if type(j) == int :
                print(j)
    if type(i) == set:
        for j in i:
            if type(j) ==int:
                print(j)
    if type(i) == dict:
        for v,k in i.items():
            if type(v) ==int or type(k)==int:
                print(v)
                print(k)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
6
7
8

# Q7: Try to give summation of all the numeric data

In [10]:
l1=[]
for i in tuple(l) :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if type(j) == int :
                l1.append(j)
    if type(i) == set:
        for j in i:
            if type(j) ==int:
                l1.append(j)
    if type(i) == dict:
        for v,k in i.items():
            if type(v) ==int or type(k)==int:
                l1.append(v)
                l1.append(k)
sum(l1)

156

In [13]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

# Q8: Try to filter out all the odd values out all numeric data which is a part of a list

In [95]:
for i in tuple(l) :
    if type(i) == list:
        for j in i :
            if type(j) == int:
                if (j%2)==1:
                    print(j)

1
3

# Q9: Try to extract "ineruon" out of this data

In [39]:
for i in tuple(l):
    if type(i) == list or type(i) == tuple :
        for j in i:
            if j=='ineuron':
                print(j)
    if type(i) == set:
        for j in i:
            if j=='ineuron':
                print(j)
    if type(i) == dict:
        for v,k in i.items():
            if v=='ineuron':
                print(v)
            if k=='ineuron':
                print(k)

ineuron
ineuron

# Q10:Try to find out a number of occurances of all the data

In [111]:
l1=[]
for i in tuple(l):
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            l1.append(j)
    if type(i)==dict:
        for j,k in i.items():
            l1.append(j)
            l1.append(k)
for i in set(l1):
    print(i,':',l1.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
k2 : 1
ineuron : 2
k3 : 1
8 : 1
kumar : 1
45 : 1
sudh : 1
data science : 1
k1 : 1
23 : 1

# Q11: Try to find out number of keys in dict element

In [46]:
for i in tuple(l):
    if type(i)==dict:
        for j,k in i.items():
            print(j)

k1
k2
k3
3
7

# Q12: Try to filter out all the string data

In [8]:
for i in tuple(l):
    for j in i:
        if type(j)==str:
            print(j)

k1
k2
k3
ineuron
data science

# Q13: Try to Find  out alphanum in data

In [30]:
for i in str(l):
    for j in i:
        if j.isalnum()==True:
            print(j)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
4
5
4
5
2
3
k
1
s
u
d
h
k
2
i
n
e
u
r
o
n
k
3
k
u
m
a
r
3
6
7
8
i
n
e
u
r
o
n
d
a
t
a
s
c
i
e
n
c
e

# Q14: Try to find out multiplication of all numeric value in  the individual collection inside data

In [176]:
print(l)
l4=[]
a=1
for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==int:
                l4.append(j)
for i in l4:
    a*=i

SyntaxError: invalid syntax (2588087665.py, line 10)

# Q15: Try to unwrape all the collection inside collection and create a flat list

In [89]:
l1=[]
for i in tuple(l):
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            l1.append(j)
    if type(i)==dict:
        for j,k in i.items():
            l1.append(j)
            l1.append(k)
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science']